################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/asp.netcore/framework/authorization/LINGYUN.Abp.Authorization.OrganizationUnits/ZQH.Abp.Authorization.OrganizationUnits.csproj
/asp.netcore/framework/authorization/LINGYUN.Abp.Authorization.OrganizationUnits/ZQH/Abp/Authorization/OrganizationUnits/AbpAuthorizationOrganizationUnitsModule.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN.Abp.AuditLogging.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN.Abp.AuditLogging.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/AbpAuditLoggingModule.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/AuditingStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/AuditLog.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/AuditLogAction.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/DefaultAuditLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/DefaultEntityChangeStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/DefaultSecurityLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/EntityChange.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/EntityChangeWithUsername.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/EntityPropertyChange.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/IAuditLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/IEntityChangeStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/ISecurityLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/SecurityLog.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN/Abp/AuditLogging/SecurityLogStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/AbpAuditLoggingElasticsearchModule.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/AbpAuditLoggingElasticsearchOptions.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/AuditLogInfoToAuditLogConverter.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/ElasticsearchAuditLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/ElasticsearchEntityChangeStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/ElasticsearchSecurityLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IAuditLogInfoToAuditLogConverter.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IIndexInitializer.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IIndexNameNormalizer.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IndexInitializer.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IndexInitializerService.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN/Abp/AuditLogging/Elasticsearch/IndexNameNormalizer.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/README.md
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN/Abp/AuditLogging/EntityFrameworkCore/AbpAuditingMapperProfile.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingEntityFrameworkCoreModule.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN/Abp/AuditLogging/EntityFrameworkCore/AuditLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN/Abp/AuditLogging/EntityFrameworkCore/EntityChangeStore.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN/Abp/AuditLogging/EntityFrameworkCore/SecurityLogManager.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/README.md
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN.Abp.Elasticsearch.csproj
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/AbpElasticsearchModule.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/AbpElasticsearchOptions.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/ElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/IElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/FodyWeavers.xml
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/README.md
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN.Abp.Elasticsearch.csproj
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/FodyWeavers.xml
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/AbpAuditLoggingModule.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/AuditingStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/AuditLog.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/AuditLogAction.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/DefaultAuditLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/DefaultEntityChangeStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/DefaultSecurityLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/EntityChange.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/EntityChangeWithUsername.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/EntityPropertyChange.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/IAuditLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/IEntityChangeStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/ISecurityLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/SecurityLog.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH/Abp/AuditLogging/SecurityLogStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/AbpAuditLoggingElasticsearchModule.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/AbpAuditLoggingElasticsearchOptions.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/AuditLogInfoToAuditLogConverter.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/ElasticsearchAuditLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/ElasticsearchEntityChangeStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/ElasticsearchSecurityLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IAuditLogInfoToAuditLogConverter.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IIndexInitializer.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IIndexNameNormalizer.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IndexInitializer.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IndexInitializerService.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH/Abp/AuditLogging/Elasticsearch/IndexNameNormalizer.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH/Abp/AuditLogging/EntityFrameworkCore/AbpAuditingMapperProfile.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH/Abp/AuditLogging/EntityFrameworkCore/AbpAuditLoggingEntityFrameworkCoreModule.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH/Abp/AuditLogging/EntityFrameworkCore/AuditLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH/Abp/AuditLogging/EntityFrameworkCore/EntityChangeStore.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH/Abp/AuditLogging/EntityFrameworkCore/SecurityLogManager.cs
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.EntityFrameworkCore/ZQH.Abp.AuditLogging.EntityFrameworkCore.csproj
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging.Elasticsearch/ZQH.Abp.AuditLogging.Elasticsearch.csproj
/asp.netcore/framework/auditing/ZQH.Abp.AuditLogging/ZQH.Abp.AuditLogging.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.assets.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.AssemblyInfoInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN.Abp.AuditLogging.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/FodyWeavers.xsd
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/README.md
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/FodyWeavers.xsd
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/LINGYUN.Abp.AuditLogging.Elasticsearch.8.1.3.nuspec
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.AssemblyInfo.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.AssemblyInfoInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.assets.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.AssemblyReference.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.BuildWithSkipAnalyzers
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.CoreCompileInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.FileListAbsolute.txt
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.Fody.CopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.Fody.RuntimeCopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.dll
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.GeneratedMSBuildEditorConfig.editorconfig
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.Elasticsearch.pdb
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.nuget.dgspec.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.nuget.g.props
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj.nuget.g.targets
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/project.assets.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/obj/project.nuget.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/ref/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.dll
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.AssemblyInfo.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.AssemblyInfoInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.assets.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.AssemblyReference.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.CopyComplete
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.CoreCompileInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.FileListAbsolute.txt
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.Fody.CopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.Fody.RuntimeCopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.dll
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/FodyWeavers.xml
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.8.1.3.nuspec
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.GeneratedMSBuildEditorConfig.editorconfig
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.pdb
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/Debug/net8.0/refint/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.dll
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.nuget.dgspec.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.nuget.g.props
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj.nuget.g.targets
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/project.assets.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/obj/project.nuget.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/FodyWeavers.xsd
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/README.md
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/LINGYUN.Abp.AuditLogging.8.1.3.nuspec
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.AssemblyInfo.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.AssemblyReference.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.BuildWithSkipAnalyzers
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.CoreCompileInputs.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.FileListAbsolute.txt
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.Fody.CopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.csproj.Fody.RuntimeCopyLocal.cache
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.dll
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.GeneratedMSBuildEditorConfig.editorconfig
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/Debug/netstandard2.0/LINGYUN.Abp.AuditLogging.pdb
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/LINGYUN.Abp.AuditLogging.csproj.nuget.dgspec.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/LINGYUN.Abp.AuditLogging.csproj.nuget.g.props
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/LINGYUN.Abp.AuditLogging.csproj.nuget.g.targets
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/project.assets.json
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/obj/project.nuget.cache
/asp.netcore/framework/elasticsearch/ZQH.Abp.Elasticsearch/ZQH/Abp/Elasticsearch/AbpElasticsearchModule.cs
/asp.netcore/framework/elasticsearch/ZQH.Abp.Elasticsearch/ZQH/Abp/Elasticsearch/AbpElasticsearchOptions.cs
/asp.netcore/framework/elasticsearch/ZQH.Abp.Elasticsearch/ZQH/Abp/Elasticsearch/ElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/ZQH.Abp.Elasticsearch/ZQH/Abp/Elasticsearch/IElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/ZQH.Abp.Elasticsearch/ZQH.Abp.Elasticsearch.csproj
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/AbpElasticsearchModule.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/AbpElasticsearchOptions.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/ElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN/Abp/Elasticsearch/IElasticsearchClientFactory.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/FodyWeavers.xml
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/FodyWeavers.xsd
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/LINGYUN.Abp.Elasticsearch.csproj
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/LINGYUN.Abp.Elasticsearch.8.1.3.nuspec
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.AssemblyInfo.cs
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.AssemblyInfoInputs.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.assets.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.AssemblyReference.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.BuildWithSkipAnalyzers
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.CoreCompileInputs.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.FileListAbsolute.txt
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.Fody.CopyLocal.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.csproj.Fody.RuntimeCopyLocal.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.dll
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.GeneratedMSBuildEditorConfig.editorconfig
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/Debug/netstandard2.0/LINGYUN.Abp.Elasticsearch.pdb
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/LINGYUN.Abp.Elasticsearch.csproj.nuget.dgspec.json
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/LINGYUN.Abp.Elasticsearch.csproj.nuget.g.props
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/LINGYUN.Abp.Elasticsearch.csproj.nuget.g.targets
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/project.assets.json
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/obj/project.nuget.cache
/asp.netcore/framework/elasticsearch/LINGYUN.Abp.Elasticsearch/README.md
