################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/asp.netcore/framework/authorization/LINGYUN.Abp.Authorization.OrganizationUnits/ZQH.Abp.Authorization.OrganizationUnits.csproj
/asp.netcore/framework/authorization/LINGYUN.Abp.Authorization.OrganizationUnits/ZQH/Abp/Authorization/OrganizationUnits/AbpAuthorizationOrganizationUnitsModule.cs
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging/LINGYUN.Abp.AuditLogging.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.Elasticsearch/LINGYUN.Abp.AuditLogging.Elasticsearch.csproj
/asp.netcore/framework/auditing/LINGYUN.Abp.AuditLogging.EntityFrameworkCore/LINGYUN.Abp.AuditLogging.EntityFrameworkCore.csproj
